body {
  background-image: url("./assets/img/spacebattle.jpg")
}

h1 {
  color: whitesmoke;
}

.row {
  display: flex;
  justify-content: center;
}



.flexlife {
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.selection{
  width: 600px;
  text-align: center;
  

}
/* #titleException{
  justify-content : center;
} */
