body {
  background-image: url("./assets/img/spacebattle.jpg");
  width:  100%;
  height: 100%;
  margin: 0px;
  
}

h1 {
  color: whitesmoke;
}

.row {
  display: flex;
  justify-content: center;
}

h5 {
  text-align: center;
}


.flexlife {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.flexlife2 {
  display: flex;
  justify-content: space-between;
}

.selection{
  width: 600px;
  text-align: center;
  

}
/* #titleException{
  justify-content : center;
} */

